$font-roboto: 'Roboto Mono', monospace;
$font-raleway: 'Raleway', sans-serif;
$font-poiret-one: 'Poiret One', cursive;


body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(85, 148, 163);
    text-align: center;
  
   
    
}

// hero image and menu

.header{
    float: none;

   
    .hero {
       
        width: auto;
        height: 350px;
        margin-top: 40px;
     
        
    }



}



.menu {

    

    .menu-list {
        display: inline-block;
        color: white;
        list-style-type: none;
        width: 100%;
        padding: 0;
        
    
        
    
        .menu-item {
            display: inline-block;
            padding: 0% 5%;
            font-size: 30px;
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-family: $font-poiret-one;
            cursor: pointer;
            
        
        }
    
    
    }
}



hr {
    border: none;
    background-color: rgb(70, 124, 138);
    color: black;
    height: 2px;
    width: 60%;
    
}


.section-title {
    color: rgb(0, 0, 0);
    font-family: $font-poiret-one;
    font-size: 50px;
    text-align: left;
    width: 60%;
    margin: 0 20% 0 auto;
}





// home page
.home{
    min-height: 100%;
}



.about {
    width: 100%;
    min-height: 60%;
    background-color: rgb(85, 148, 163);
    
    
    .about-container{
        display: grid;
        grid-template-columns: auto auto ;
        width: 60%;
        margin-left:20%;
        margin-top: 40px;
        margin-bottom: 40px;

        .profile-pic {
            border-radius: 50%;
            width: 160px;
            height: auto;        
            border: 3px solid rgb(70, 124, 138);        
            margin: 40px 20px;
           
            
        }
        
    
        .about-info {
            margin-left: 5%;
            text-align: left;
            

            p {
            color: black;
            font-size: 30px;
            font-family: $font-poiret-one;
            
            
        
            }

            .main-webdev {
                font-size: 40px;
                color: rgb(255, 255, 255);
                
            }
        
        
            .blurb {
                text-align: justify;
                color: rgb(255, 255, 255);
                font-size: 25px;
                
            }
        }
    
    }
    
        
 }
    


// projects page

.projects-info {
    
    background-color: rgb(70, 124, 138);  
    padding: 30px 0px 30px 0px;  
    min-height: 100%;
    
    hr {
         background-color: rgb(85, 148, 163);   
    }

    .projects {
        width: 60%;
        padding-left: 20%;
        padding-top: 20px;
        display: grid;
        grid-template-columns: auto auto auto ;
        align-content: space-between;
        justify-content: center;

        a{
            text-decoration: none;


            .card {
                background-color: rgb(42, 42, 42);
                height: 350px;
                width: 300px;
                margin: 20px 20px;
                display: block;
                padding: 1px 1px;
                transition: all 0.3s ease-in-out;
                

                .card-img {
                    height: auto;
                    width: 300px;
                    
                }

                h2 {
                    font-family: $font-poiret-one;
                    text-align: center;
                    padding: 10px 10px;
                    margin: 0;
                    color: rgb(253, 253, 253);
                    text-decoration: none;
                }

                p {
                    font-family: $font-raleway;
                    text-align: justify;
                    padding: 10px 20px;
                    margin: 0;
                    color: rgb(146, 146, 146);
                    font-size: 20px;
                    text-decoration: none;

                }

            }
        
            .card:hover {
                transform: scale(1.02);
                box-shadow: -2px 2px 5px rgb(58, 57, 57);
            }
            
        }

       
    }
}



// contact page


.contact {
    text-align: left;
    color: black; 
    background-color: rgb(85, 148, 163);  
    padding: 30px 0px 50px 0px;   
    min-height: 70%;
    margin-top: 60px;

    hr {
        background-color: rgb(70, 124, 138);
    }

    .contact-container {
        width: 60%;
        margin-left: 20%; 
        font-family: $font-poiret-one;
        font-size: 35px;
        text-align: left;
        height: auto;
        margin-bottom: 60px;
        padding-left: 300px;
        margin-top: 100px;
          
        p {
            margin-bottom: 20px;

            
        }

        .email {
            color: white;
            // margin-left: 60px;
        }

        
        
        .link { 
            color: white;
            text-decoration: none;
            display: inline-block;
            border-style: solid;
            border-color: rgb(70, 124, 138);
            padding: 10px 20px;
            border-radius: 20px 6px 6px 20px;
            margin-top: 40px;

            
            
        }

        .right {
            border-radius: 6px 20px 20px 6px;
        }

        .link:hover {
       
        color: white;
        cursor: pointer;
        background-color: rgb(70, 124, 138);

        }

        
    
    }

}


footer {
    font-size: 25px;
    padding: 10px 0px;
    color: white;
    font-family: $font-poiret-one;
    background-color: rgb(42, 42, 42);
}


// xl screen



@media  only screen and (max-width: 1400px) {

    .hero {
        height: 300px;
    }

    hr {
        width: 80%;
    }

    
.about {

    .about-container{
       
        width: 80%;
        margin-left:10%;

    }
    
        
 }
    

    // projects
    .projects-info {
        
        .projects {
            width: 60%;
            padding-left: 20%;
        }
    }

    
    // contact page

    .contact {
        text-align: left;
        color: white;
        min-height: 60%;

        
    
        .contact-container {
            width: 60%;
            margin-left: 20%;
            padding-left: 150px;
            
            font-family: $font-poiret-one;
            font-size: 35px;
            
           
            p {
                margin-bottom: 5px;
            }

            .email {
                color: black;
            }

    
        
        }
    
    }

}

// l screen

@media only screen and (max-width: 1200px) {

    // title image

    .header {

        .hero  {
            background-image: url(./images/cb_lightOff_l.jpg);
            height: 225px;
            margin-top: 20px;
        }
    }

    hr {
        width: 60%;
        margin-left: 20%;
    }
    

    // homepage
    .home {
        min-height: 60%;

        .about {

            .about-container {
                margin-top: 30px;
                color: white;

                .profile-pic {
                    width: 120px;
                    height: auto;
                    border: 4px solid rgb(70, 124, 138);
                    
                }
            
                .about-info {
                    p {
                        color: black;
                        font-size: 25px;
                    }
                
                    .main-webdev {
                        font-size: 35px;
                        color: white;
                    }
            
                    .blurb {
                        font-size: 25px;
                        text-align: justify;
                        color: white;
                    }
                    
                    
            
                }   

            }
        }
       
    }  


    // projects
    
     .projects-info {
        width: 100%;
        height: auto;

        hr {
            width: 60%;
            margin-left: 20%;
        }
        .projects {
            width: 80%;
            padding-left: 10%;
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    // contact page

    .contact {
        text-align: left;
        color: white;
        min-height: 70%;
    
        .contact-container {
            width: 60%;
            margin-left: 20%;
            font-family: $font-poiret-one;
            font-size: 35px;
            padding-left: 125px;
    
           
            p {
                margin-bottom: 10px;
    
               
            }

            .email {
                color: black;
                font-size: 40px;
                
            }
            
           

            

        
        }
    
    }

}

// m screen

@media only screen and (max-width: 950px) {

    .header {
        text-align: center;
        
        .hero  {
            background-image: url(./images/cb_lightOff_m.jpg);
            height: 200px;
            margin-top: 30px;
            
           
        }
    }

    // menu

    .menu {
        .menu-item {
            font-size: 25px;
        }
    }

    hr {
        width: 80%;
        margin-left: 10%;
    }

    .section-title {
        width: 80%;
        margin-left: 10%;
    }

    // homepage

    .about {

        .about-container {
            margin-top: 10px;
            margin-bottom: 20px;

            .profile-pic {
                width: 120px;
                margin: 20px auto 0px auto;
               
            }
        
            .about-info {
                text-align: left;

                p {
                    color: black;
                    font-size: 25px;
                    font-family: $font-poiret-one;
                    
        
                    }
            
                    .main-webdev {
                        font-size: 40px;
                    }
            
                    .blurb {
                        font-size: 25px;
                        text-align: justify;
                    }
                
                }
        
            }   

        }
    
// projects

.projects-info {
    height: auto;

    hr {
        width: 80%;
        margin-left: 10%;
    }
   
}


// contact page

    .contact {
        text-align: left;
        color: white;
        min-height: 70%;
    
        .contact-container {
            width: 60%;
            margin-left: 20%;
            padding-top: 40px;
            font-family: $font-poiret-one;
            font-size: 35px;
            padding-left: 65px;
    
        
            p {
                margin-bottom: 10px;
    
               
            }

            .email {
                color: black;
                font-size: 40px;
                
            }
           

    
        }
    
    }

    
}
// s screen

@media only screen and (max-width: 750px) {

     // title image

     .header {
        text-align: center;
        
        .hero  {
            background-image: url(./images/cb_lightOff_s.jpg);
            height: 170px;
            margin-top: 30px;
            
           
        }
    }

    

    // menu

    .menu{
        width: 100%;
      
        

        .menu-item {
            font-size: 25px;
            padding: 0% 5%;
        } 
    }

    hr {
       width: 80%;
    }

    .section-title {
        width: 80%;
        margin-left: 10%;
    }

    // homepage

    .about {
        min-height: 100%;
        

        .about-container {
            margin-top: 10px;
 
            .profile-pic {
                width: 120px;
                margin: 20px auto 0px auto;
                
            }    
            
            .about-info {
                text-align: left;
            
                p {
                    color: rgb(0, 0, 0);
                    font-size: 20px;
                    width: 90%;
                    padding-left: 5%;
                    
                    }
            
                .main-webdev {
                    font-size: 25px;
                }
        
                .blurb {
                    font-size: 20px;
                    width: 90%;
                    padding-left: 5%;
                }
            }
            
        }
    }


    
    
    // projects 

    .projects-info {
        height: auto;

        .projects {
            display: grid;
            grid-template-columns: auto ;
        }
        
    }

    // contact page

    .contact {
    text-align: left;
    color: white;
    min-height: 100%;

        .contact-container {
            width: 60%;
            margin-left: 20%;
            padding-top: 20px;
            font-family: $font-poiret-one;
            font-size: 25px;
            word-break: break-word;
            padding-left: 40px;

           
            p {
                margin: 30px 0px;
                
               
            }

            .email {
                color: black;
                font-size: 30px;
                
            }
            
            
            
            
    
        }
    }

}




// xs screen

@media only screen and (max-width: 550px) {

    // title image

    .header {
        text-align: center;
      
        .hero  {
            background-image: url(./images/cb_lightOff_xs.jpg);
            height: 135px;
            margin-top: 10px;
            
           
        }
    }

    

    // menu

    .menu{
        width: 100%;
      
        

        .menu-item {
            font-size: 20px;
            padding: 0% 5%;
        } 
    }

    hr {
       width: 80%;
       margin-left: 10%;
    }

    
    .section-title {
        width: 80%;
        margin-left: 10%;
    }

    // homepage

    .about {
        height: 100%;
        .about-container {
            margin-top: 0px;
            display: grid;
            grid-template-columns: auto ;
            width: 90%;
            margin: 5%;
            .profile-pic {
                width: 100px;
                margin: 10px auto 0px auto;
              
            }   
            
            .about-info {
                margin: 0;
            
                p {
                    color: rgb(0, 0, 0);
                    font-size: 20px;
                    font-family: $font-poiret-one;
                    text-align: center;
                    width: 90%;
                    padding-left: 5%;
                    
                    }
            
                .main-webdev {
                    font-size: 30px;
                }
        
                .blurb {
                    font-size: 20px;
                    width: 90%;
                    padding-left: 5%;
                }
            }
            
        }
    }


        
    // projects 

    .projects-info {
        height: auto;

        .projects {
            display: grid;
            grid-template-columns: auto;
        }
    }

    // contact page

    .contact {
    min-height: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px;  

        .contact-container {
            
            font-size: 25px;
            height: auto;
            padding-left: 20px;
            padding-top: 0;
            margin-top: 100px;
            margin-bottom: 30px;

            p {
                margin-bottom: 5px;
    
               
            }

            .email {
                color: black;
                font-size: 25px;
                margin: 0;
                
            }
            
            .link { 
                color: white;
                font-size: 25px;
                margin-top: 20px;
                display: inline-block;
                text-align: center;
                margin-left: 10px;
            }
    

        }
    
    }

}



// xxs screen

@media only screen and (max-width: 400px) {

    // title image

    .header {
        text-align: center;
      
        .hero  {
            background-image: url(./images/cb_lightOff_xs.jpg);
            height: 100px;
            margin-top: 10px;
            
           
        }
    }

    

    // menu

    .menu{
        width: 100%;
      
        .menu-list {

            .menu-item {
                font-size: 20px;
                padding: 0% 5%;
            } 
        }

        
    }

   
    
    .section-title {
        width: 80%;
        margin-left: 10%;
        font-size: 40px;
    }

  

    // contact page

    .contact {
    min-height: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px;  

        .contact-container {
            
            font-size: 25px;
            height: auto;
            padding-left: 0px;
            padding-top: 0;
            margin-top: 70px;
            margin-bottom: 30px;

            p {
                margin-bottom: 5px;
    
               
            }

            .email {
                color: black;
                font-size: 23px;
                margin: 0;
                padding: 0;
                
            }
            
            .link { 
                color: white;
                font-size: 20px;
                margin-top: 20px;
                display: inline-block;
                text-align: center;
                margin-left: 5px;
                padding: 7px 13px;
            }
    

        }
    
    }

}








